#{set 'moreScripts'}
<script src="@{'public/javascripts/albumtable.js'}" type="text/javascript" charset="utf-8"></script>
#{/set}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/datatables.css'}">
#{/set}
<div id="voteInfo" class="info">One vote added!</div>
<table id="albumList">
    <thead>
        <tr>
            <th>Artist</th>
            <th>Album</th>
            <th>Cover</th>
            <th>Release date</th>
            <th>Genre</th>
            <th>Number of votes</th>
            #{if session.get("username").equals("admin")}
            <th>Manage</th>
            #{/if}
        </tr>
    </thead>
    #{list _albums, as:'album'}
    <tr id="album-${album.id}" class="stat">
        <td>${album.artist.name}</td>
        <td>${album.name}</td>
        <td><img src="@{'/public/shared'}/${album.coverPath}" widht="50px" height="50px"></td>
        <td>${album.releaseDate.format('yyyy-MM-dd')}</td>
        <td>${album.genre.toString()}</td>
        <td>
            <span id="nbVotes${album.id}">${album.nbVotes}</span>
            <a id="${album.id}-clickVote" class="voteLink" href="#">Vote for it!</a>
        </td>
        #{if session.get("username").equals("admin")}
        <td><a href="@{Admin.form(album.id)}">Update</a>&nbsp;<a href="@{Admin.delete(album.id)}">Delete</a></td>
        #{/if}
    </tr>
    #{/list}
</table>