# Ignore intelliJ IDEA conf files
*.iml
.idea/

=======
# Ignore Eclipse conf files
.classpath
.project
eclipse
.settings
db
#Don't commit cover pictures
public/shared/covers/*

#Ignore play temp files
tmp
out
test-result
