#{extends 'main.html' /}
#{set title:'Album list' /}
#{ifErrors}
   <h1>Oops...</h1>
   #{errors}
       <li>${error}</li>
   #{/errors}
#{/ifErrors}
<h1>Please write information about your favorite album</h1>
#{form @save()}
<input type="hidden" name="album.id" value="${album?.id}">

<p class="field">
    <label for="name">Album Name:</label>
    <input type="text" id="name" name="album.name" value="${album?.name}">
    <span class="error">${errors.forKey('album.name')}</span>
</p>
<!--
#{textfield  label:'Album name', field:'album.name'/}
-->
<p class="field">
    <label for="name">Artist:</label>
    <input type="text" id="name" name="artist.name" value="${artist?.name}">
    <span class="error">${errors.forKey('artist.name')}</span>
</p>
<p class="field">
    <label for="name">Genre:</label>
    <input type="text" id="name" name="album.genre" value="${album?.genre}">
    <span class="error">${errors.forKey('album.genre')}</span>
</p>
<p class="buttons">
    <a href="@{list()}">Cancel</a> or <input type="submit" value="Save this album" id="saveAlbum">
</p>
#{/form}