#{extends 'main.html' /}

<div id="login">

	<h2>Administration, login</h2>
	#{form @Admin.authenticate()}
	
		#{if flash.error}
			<div id="loginError">
				${flash.error}
			</div>
		#{/if}
		
		<label for="login">Login</label> 
		<input type="text" name="login" id="login" value="${flash.login}" />
		
		<label for="password">Password</label> 
		<input type="password" name="password" value="" id="password" />
		
		<input class="submit" name="signin" type="submit" value="Sign in" id="signin"/>
	#{/form}

</div>
		
