/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #949494; color:#fff; text-shadow: none; }
::selection { background:#949494; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


 /* Primary Styles
    Author: loic descotte
 */

/* global stuff */
body {
 background: #333;
 text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
 font-family: 'SansationLight';
}

body a:hover, a:active { outline: none;}
body a, body a:active, body a:visited { color: #607890; text-decoration: none; }
body a:hover { color: #FF6400; }

body ul { list-style: none;}

/* header part */
header h1 {
 margin: 20px 0 0 15px;
 padding: 5px 0 1px 14px;
 font-size: 2em;
 letter-spacing: 0.2em;
}

header h1 a {
  display: inline-block;

     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;

}

header h1 a:hover {
     -moz-transform: rotate(7.5deg);
       -o-transform: rotate(7.5deg);
  -webkit-transform: rotate(7.5deg);
      -ms-transform: rotate(7.5deg);
          transform: rotate(7.5deg);
             filter: progid:DXImageTransform.Microsoft.Matrix(
                     M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104, sizingMethod='auto expand');
               zoom: 1;

    color: #777;
}

header h1 span a:hover {

     -moz-transform: rotate(-7.5deg);
       -o-transform: rotate(-7.5deg);
  -webkit-transform: rotate(-7.5deg);
      -ms-transform: rotate(-7.5deg);
          transform: rotate(-7.5deg);
             filter: progid:DXImageTransform.Microsoft.Matrix(
                     M11=0.9914448613738104, M12=0.13052619222005157, M21=-0.13052619222005157, M22=0.9914448613738104, sizingMethod='auto expand');
               zoom: 1;

  color: #FF6400;
}

header h1 a, header h1 a:active, header h1 a:visited {
  color: #777;
}

header h1 span {
  opacity: .8;
  padding: 5px 0 1px 14px;
  border-left: 1px solid rgba(255, 255, 255, .25);
}

header h1 span a {
  color: #efefef;
}

header a.vm-admin {
 color: #fff;
 text-decoration: none;
 position: absolute;
 right: 2em;
 top: 1em;
}

header a.vm-admin:hover {
  color: #FF6400;
}

/* content part */
#main {
 width: 960px;
 margin: 2em auto;
}


/* table stuff */
#main table {
  color: #222;
}

#main .dataTables_wrapper {
  margin: 2em 0;
}

#main .dataTables_length, #main .dataTables_length {
  float: none;
}

#main tr.even {
  background: #d5d5d5;
}

#main tr.odd {
  background: #a6a6a6;
}

#main tr.even td.sorting_1 {
  background: #c7c7c7;
}

#main tr.odd td.sorting_1 {
  background: #949494;
}

/* forms */
#main form label {
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 5px;
    width: 100px;
    font-weight: bolder;
}

#main form input {
  width: 50%;
  -moz-box-shadow: 0px 0px 10px #DADADA;
  -webkit-box-shadow: 0px 0px 2px #DADADA;
  box-shadow: 0px 0px 10px #DADADA;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #AAA;
  color: #444;
  padding: 0.5em;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
}

#main form input[type=submit] {
  width: auto;
  margin-left:20px;
}

#main .info {
  /* this one is not displayed by default, do this via css, not js. avoid clipping */
  display: none;
}

#main h1,#main h2,#main h3,#main h4,#main h5,#main h6{border:0 !important;}
#main h1{font-size:170% !important;border-top:4px solid #aaa !important;padding-top:.5em !important;margin-top:1.5em !important;}
#main h1:first-child{margin-top:0 !important;padding-top:.25em !important;border-top:none !important;}
#main h2{font-size:150%;margin-top:1.5em;padding-top:.5em;}
#main h3{margin-top:1em !important;}
#main p{margin:1em auto !important;line-height:1.5em !important;}
#main dt{font-weight:bold !important;margin-left:1em !important;}
#main dd{margin-left:2em !important;margin-bottom:1em !important;}
#main table{margin: 3em auto !important; width: 100%;}
#main table th{border-bottom:1px solid #bbb !important;padding:.2em 1em !important;}
#main table td{border-bottom:1px solid #ddd !important;padding:.2em 1em !important;}

/** Transition please **/
#main{overflow:hidden;}
#main .frames .frame {
    -webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;
    
    float:left;
    width: 960px;
    
   -moz-border-radius: 12px;
   -webkit-border-radius: 12px;
   border-radius: 12px;

    -moz-box-shadow: 0px 0px 4px #fff;
  -webkit-box-shadow: 0px 0px 4px #fff;
         box-shadow: 0px 0px 4px #fff;


     background-color: #efefef;
     background-image: -moz-linear-gradient(top, #efefef, #cccccc);
     background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #efefef),color-stop(1, #cccccc));
     background-image: -webkit-linear-gradient(#efefef, #cccccc);
     background-image: linear-gradient(top, #efefef, #cccccc);
               filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#efefef', EndColorStr='#cccccc');
  
  
}
#main .frames{width:10000px;}
#main .frames .frame-left{margin-left:-2000px;}
#main .frames .frame-right{margin-left: 2000px;}
#main .frames .frame-center{margin-left:0;}
#main .frames .frame-loading{height:100%;}

#main .frames .frame-content{padding: 2em;}


/* pretty buttons */
.button {
  display: inline-block;
  padding: 5px 10px 6px;
  color: #222 !important;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  background-color: #d5d5d5;
  background-image: -moz-linear-gradient(top, #d5d5d5, #a6a6a6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #d5d5d5),color-stop(1, #a6a6a6));
  background-image: -webkit-linear-gradient(#d5d5d5, #a6a6a6);
  background-image: linear-gradient(top, #d5d5d5, #a6a6a6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d5d5d5', EndColorStr='#a6a6a6');
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
}

.button:active {
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px)
}

.button:hover {
  background-color: #c7c7c7;
  background-image: -moz-linear-gradient(top, #c7c7c7, #949494);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #c7c7c7),color-stop(1, #949494));
  background-image: -webkit-linear-gradient(#c7c7c7, #949494);
  background-image: linear-gradient(top, #c7c7c7, #949494);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#c7c7c7', EndColorStr='#949494');
  color: #fff;
}

.buttons {
  width: 80%;
  margin: 2em auto;
  padding-top: 1em;
  text-align: center;
  border-top: 1px solid #bbb;
}

.buttons .button {
  margin: 0 1em;
}

.logadmin {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.logadmin a {
  color: white !important;
}

.info {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFCC;
  border: 1px dotted #CCCCCC;
  padding: 0.5em;
}


/* fonts */
.font-sensation-light { font-family: 'SansationLight'; }

@font-face {
    font-family: 'SansationLight';
    src: url('assets/sansation_light-webfont.eot');
    src: url('assets/sansation_light-webfont.eot?iefix') format('eot'),
         url('assets/sansation_light-webfont.woff') format('woff'),
         url('assets/sansation_light-webfont.ttf') format('truetype'),
         url('assets/sansation_light-webfont.svg#webfontGkrZNAj2') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

#tips{
   color:blue;
}