<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>ExtJS Vote4Music</title>
		
		<script src="@{'/public/javascripts/ext-3.3.1/adapter/ext/ext-base.js'}" type="text/javascript" charset="utf-8"></script>
		<script src="@{'/public/javascripts/ext-3.3.1/ext-all.js'}" type="text/javascript" charset="utf-8"></script>
		<script src="@{'/public/javascripts/vote4music.js'}" type="text/javascript" charset="utf-8"></script>
		
		<link rel="stylesheet" type="text/css" href="@{'/public/javascripts/ext-3.3.1/resources/css/ext-all.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/vote4music.css'}">
	</head>
	<body>
		<div id="container"></div>
	</body>
</html>