#{set 'moreScripts'}
<script src="@{'public/javascripts/jquery.datatables.min.js'}"></script>
<script src="@{'public/javascripts/jquery.bt.min.js'}"></script>
<script src="@{'public/javascripts/albumtable.js'}"></script>
<script>
    (function($, global) {
      
      $.bt.options.closeWhenOthersOpen = true;
      
      $(document).ready(function(){

      });
      
    })(this.jQuery, this)
</script>
#{/set}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/datatables.css'}">
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery.bt.css'}">
#{/set}
<div id="voteInfo" class="info">One vote added!</div>
<table id="albumList">
    <thead>
        <tr>
            <th>Album</th>
            <th>Artist</th>
            <th>Cover</th>
            <th>Release date</th>
            <th>Genre</th>
            <th>Number of votes</th>
            #{if session.get("username").equals("admin")}
            <th>Manage</th>
            #{/if}
        </tr>
    </thead>
    #{list _albums, as:'album'}
    <tr id="album-${album.id}">
        <td>${album.name}</td>
        <td>${album.artist.name}</td>
        <td>
            #{if album?.hasCover}
            <span class="cover"><a href="#">Show cover</a></span>
            #{/if}
        </td>
        <td>${album.releaseDate.format('yyyy-MM-dd')}</td>
        <td>${album.genre.toString()}</td>
        <td>
            <span id="nbVotes${album.id}">${album.nbVotes}</span>
            <a id="${album.id}-clickVote" class="voteLink" href="#">Vote for it!</a>
        </td>
        #{secure.check 'admin'}
        <td><a href="@{Admin.form(album.id)}">Update</a>&nbsp;<a href="@{Admin.delete(album.id)}">Delete</a></td>
        #{/secure.check}
    </tr>
    #{/list}    
</table>
<div id="tips">Tip : Mouse hover an album name to see the cover</div>
