#{extends 'main.html' /}
#{set title:'Album list' /}

<h1>Album list</h1>
<span>Showing ${Math.min(count,total)} from ${first+1} to ${Math.min(total,first+10)} (total = ${total})</span>
#{form @list()}
    <label for="filter">Filter:</label>
    <input type="text" id="filter" name="filter" value="${filter}"/>
    <select id="genre" name="genre" value="${genre}">
        <option  value="">Select a genre (optional)</option>
        #{list models.Genre.values(), as:'genre'}
        <option  value="${genre}">${genre.toString().toLowerCase()}</option>
	#{/list}
    </select>
    <input type="submit" value="Go!" id="submitFilter">
#{/form}

#{if total != 0 }
<table>
   <thead>
    <tr>
        <th>Artist</th>
        <th>Album</th>
        <th>Year</th>
        <th>Genre</th>
    </tr>   
   </thead>
    #{list albums, as:'album'}
    <tr>
        <td>${album.artist.name}</td>
        <td>${album.name}</td>
        <td>${album.releaseDate.format('yyyy')}</td>
        <td>${album.genre.toString()}</td>
    </tr>
    #{/list}
</table>
#{/if}
#{else}
    <p>No result found</p>
#{/else}

#{if first != 0 }
      <a href="@{Application.list(first-count, filter, genre)}">Previous</a>
#{/if}
#{if first+count < total }
      <a href="@{Application.list(first+count, filter, genre)}">Next</a>
#{/if}
<p><a href="/album/new">New album</a></p>