#{extends 'main.html' /}
#{set title:'Album form' /}

<h1>Please write information about your favorite album</h1>
#{form @Application.save(), method:'POST', enctype:'multipart/form-data'}
<input type="hidden" name="album.id" value="${album?.id}"/>

<p class="field">
    <label for="name">Album Name:</label>
   #{input for:'album.name', type:'text', id:'name' /}
    <span class="error">${errors.forKey('album.name')}</span>
</p>
<p class="field">
    <label for="artist">Artist:</label>
    #{input for:'artist.name', type:'text', id:'artist', value:album?.artist?.name /}
    <span class="error">${errors.forKey('artist.name')}</span>
</p>
<p class="field">
    <label for="genre">Genre:</label>
    <select id="genre" name="album.genre">
        #{list models.Genre.values(), as:'genre'}
        #{if album?.genre == genre}
        <option  value="${genre}" selected="selected">${genre.toString().toLowerCase()}</option>
        #{/if}
        #{else}
        <option  value="${genre}">${genre.toString().toLowerCase()}</option>
	#{/else}
	#{/list}
    </select>
    <span class="error">${errors.forKey('album.genre')}</span>
</p>
<p class="field">
    <label for="release-date">Release date</label>
    #{input for:'album.releaseDate', type:'text', id:'release-date', value:album?.releaseDate?.format('yyyy-MM-dd') /}
    <span class="error">${errors.forKey('album.releaseDate')}</span>
</p>
<p class="field">
    <label for="cover">Cover</label>
    <input type="file" id="cover" name="cover" accept="image/*"/>
     #{if album?.hasCover}
     <br/>
     <img src="@{'/public/shared/covers'}/${album?.id}" alt="no cover" widht="50px" height="50px"/>
     #{/if}
</p>


<p class="buttons">
    <a href="/albums" class="button">Cancel</a> or <input type="submit" class="button" value="Save this album" id="saveAlbum"/>
</p>

#{/form}

#{set 'moreScripts'}
<script>

  $(function(){
    // those stuff needs to be wrapped in a dom-ready callback. (same as $(document).ready)
    $("#release-date").datepicker({dateFormat:'yy-mm-dd', showAnim:'fadeIn'});    
  });
</script>
#{/set}