#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/rater.css'}">
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/datatables.css'}">
#{/set}
<table id="albumList">
   <thead>
    <tr>
        <th>Artist</th>
        <th>Album</th>
        <th>Release date</th>
        <th>Genre</th>
        <th>Average vote</th>
        <th style="visibility: hidden">Invisible vars</th>
        #{if session.get("username").equals("admin")}
        <th>Manage</th>
        #{/if}
    </tr>   
   </thead>
    #{list _albums, as:'album'}
        <tr id="album-${album.id}" class="stat">
            <td>${album.artist.name}</td>
            <td>${album.name}</td>
            <td>${album.releaseDate.format('yyyy-MM-dd')}</td>
            <td>${album.genre.toString()}</td>
            <td>
                <span class="ui-rater-average${album.id}">
                #{if album.total != 0}
                	${String.format('%.1f',album.total/album.nbVotes).replace(',', '.')}
                #{/if}
                #{else}
                	0
                #{/else}
                </span>
                <span class="ui-rater-rateCount${album.id}">(${album.nbVotes} votes)</span>
            </td>
            <td style="visibility: hidden">
                 <span class="ui-rater-total${album.id}">${album.total}</span>
            </td>
            #{if session.get("username").equals("admin")}
            	<td><a href="@{Application.form(album.id)}">Update</a>&nbsp;<a href="@{Admin.delete()}">Delete</a></td>
            #{/if}
        </tr>
    #{/list}
</table>