#{set 'moreScripts'}
<script src="@{'public/javascripts/jquery.customrater.js'}" type="text/javascript" charset="utf-8"></script>
#{list _albums, as:'album'}
<script type="text/javascript">
    	$(function() {$('#album-${album.id}').rater({ postHref: 'rate'})});
</script>
#{/list}
#{/set}
<table>
   <thead>
    <tr>
        <th>Artist</th>
        <th>Album</th>
        <th>Year</th>
        <th>Genre</th>
        <th>Average vote</th>
        <th>Rate</th>
        #{if session.contains("admin")}
        <th>Manage</th>
        <th style="visibility: hidden">Invisible vars</th>
        #{/if}
    </tr>   
   </thead>
    #{list _albums, as:'album'}
        <tr id="album-${album.id}" class="stat">
            <td>${album.artist.name}</td>
            <td>${album.name}</td>
            <td>${album.releaseDate.format('yyyy-MM-dd')}</td>
            <td>${album.genre.toString()}</td>
            <td class="ui-rater-average">
                #{if album.total != 0}
                	${String.format('%.1f',album.total/album.nbVotes).replace(',', '.')}
                #{/if}
                #{else}
                	0
                #{/else}
            </td>
            <td>

                            <div class="statVal">
                                    <span class="ui-rater">
                                            <span class="ui-rater-starsOff" style="width:90px;"><span class="ui-rater-starsOn" style="width:63px"></span></span>
                                            <span class="ui-rater-rating"></span>&#160;(<span class="ui-rater-rateCount">${album.nbVotes} votes</span>)
                                    </span>
                    </div>
            </td>
            <td class="ui-rater-total">${album.total}</td>
            <td><a href="/admin/delete/${album.id}">Update</a>&nbsp;<a href="@{Admin.delete(album.id)}">Delete</a></td>
        </tr>
    #{/list}
</table>