div#content{
	margin-left:auto;
	margin-right:auto;
	width:800px;
}
table#albumList{
   float:left;
}
table#albumList th{
    min-width: 100px;
}

#ui-datepicker-div{
    background-color: greenyellow;
}

ul#links{
   margin-top: 220px;
}
